body {
	font-size: 16px;
	background-color: #E5E5E5;
}

.login-body {
	background-image: url("/images/cubes.png");
	overflow-x: hidden;
}

.page-title {
	font-size: 1.5em;
	font-weight: 400;
	margin-left: 20px;
	margin-right: 20px;
}

.page-description {
	font-size: 0.8em;
}

.user-options-block {
	position: absolute;
	top: 0;
	right: 20px;
}

#user-dropdown {
	position: absolute;
	top: 64px !important;
	right: 20px;
}

.tabs-container {
	width: 30%;
	margin-left: 50px;
	display: inline-block;
}

.tabs-container .tabs, .tabs-container .tab {
	height: 64px !important;
}

.tab a {
	padding: 8px 10px;
	color: 757575 !important;
	font-size: 0.9em;
}

.tab a.active {
	color: 212121 !important;
	font-weight: 500;
}

.tab:hover {
	font-style: italic;
	color: 212121;
}

.indicator {
	height: 3px !important;
	background-color: #1976d2 !important;
}

.empty-portfolio-card {
	width: 600px;
	top: 130px;
	margin: 5px 50px;
	position: fixed;
}

.user-portfolio-card {
	width: 1000px;
	left: 0;
	right: 0;
	margin: 20px auto;
}

.lower-nav-bar {
	z-index: 10;
}

.stock-collection li:hover {
	background-color: #E5E5E5;
	cursor: pointer;
}

.display-none {
	display: none;
}

.entry-name {
	color: #1b5e20;
	font-weight: 500;
}

.entry-symbol {
	font-weight: 500;
	color: #1976d2;
}

.nav-bar-buttons {
	display: inline-block;
	height: 64px;
	position: absolute;
	right: 30px;
}

.nav-bar-button {
	height: 70%;
	position: relative;
	padding: 10px;
}

.nav-bar-button i {
	position: relative;
	top: -18px;
	margin-right: 5px;
	font-size: 1.7rem !important;
}

.nav-bar-button span {
	position: relative;
	top: -5px;
	font-size: 0.9em;
}

.nav-bar-button:hover {
	background-color: 757575;
	color: white;
}

#viewer-search-input:focus {
	background-color: white !important;
	color: black;
}

.top-nav-bar .input-field {
	width: 250px;
	position: absolute;
	right: 210px;
	top: 7px;
	height: 50px !important;
	line-height: 50px;
}

#viewer-search-input {
	border-bottom: 2px solid white;
	font-size: 1em
}

.top-nav-bar .input-field i {
	position: relative;
	top: -5px;
}

.hand {
	cursor: pointer;
}

.login-app-title-row {
	height: 50px !important;
	font-family: 'Fugaz One';
	font-size: 1.7em;
	font-weight: 500;
}

.sub-title-row {
	height: 40px;
	font-size: 0.9em;
	margin-bottom: 15px;
	font-weight: 500;
}

.custom-toast {
	position: fixed;
	top: -500px;
	left: 0;
	right: 0;
	margin: auto;
	width: 600px;
	border-radius: 10px;
	opacity: 0.8;
	z-index: 9999;
}

.bottom-toast {
	position: fixed;
	right: -2000px;
	bottom: 30px;
	width: 600px;
	border-radius: 10px;
	opacity: 0.8;
	z-index: 9999;
}

.toast-text {
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	padding: 10px 20px;
}

.toast-dismiss {
	margin-right: 10px;
}

#pwd-forgot, #register {
	font-size: 0.8em;
}

.login-card {
	position: absolute;
	width: 500px;
	left: 0;
	right: 0;
	margin: auto;
	margin-top: 10%;
	padding: 0 !important;
}

#request-acc {
	margin-top: 15px;
}

label[data-error]:after {
	white-space: nowrap;
}

.portfolio-collection {
	max-width: 1200px;
	min-with: 1000px;
	left: 0;
	right: 0;
	margin: 5px auto;
}

.port-title {
	font-size: 1.3em;
	font-weight: 500;
}

.portfolio-entry .secondary-content {
	display: inline-block;
}

.portfolio-entry .row {
	margin-bottom: 10px;
	margin-top: 5px;
}

.stock-label, .balance-label {
	font-weight: 500;
	color: green;
}

.balance-label, .entry-balance {
	float: right;
}

.port-entry-icons {
	float: right !important;
	margin: 0 10px;
}

.list-stock-symbol {
	font-weight: 500;
	font-color: blue;
}

#add-portfolio-button {
	top: 10px;
}

#left-container {
	position: absolute;
	left: 0;
	width: 60%;
	top: 130px;
}

.card-header {
	color: #4caf50;
	font-weight: 600;
}

#right-container {
	position: absolute;
	right: 0;
	width: 40%;
	top: 130px;
}

.guidelines-card {
	margin: 15px 20px;
}

.portfolio-overview-card {
	margin: 5px 20px;
}

.portfolio-overview-card ul {
	margin: 0 !important;
	color: red;
}

.allowed-stock-card {
	margin: 15px 20px;
}

.guidelines-card li {
	margin-bottom: 10px;
}

.allowed-stocks-header {
	font-weight: 500;
	font-size: 1.1em;
}

.allowed-stocks-header-row {
	margin: 10px 0;
}

.allowed-stock-entry {
	font-size: 0.8em;
}

.bold {
	font-weight: 500;
}

@media only screen and (max-width: 1400px) {
	.login-card {
		margin-top: 5%;
	}
	.allowed-stock-entry {
		font-size: 0.7em;
	}
}