<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>Portfolio Optimizer</display-name>
	<description>CS490 project</description>
	<servlet>
		<servlet-name>MainServlet</servlet-name>
		<servlet-class>com.cs490.servlet.MainServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/webapps7/stock/view</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/webapps7/stock/checkprice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/webapps7/authenticate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/webapps7/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/webapps7/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/webapps7/forgotpass</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/webapps7/index</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/webapps7/portfolio/add</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/webapps7/portfolio/view</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/webapps7/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/webapps7/stock/buy</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/webapps7/stock/sell</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/webapps7/withdraw</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/webapps7/deposit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/webapps7/portfolio/delete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/webapps7/portfolio/history</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/webapps7/sheet/test</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/webapps7/portfolio/update</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/webapps7/portfolio/report</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/webapps7/portfolio/report/download</url-pattern>
  </servlet-mapping>
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/webapps7/account/view</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/webapps7/account/update</url-pattern>
	</servlet-mapping>

</web-app>
